<div class="container">
    <div class="clearfix">
        <h1 class="mx-auto text-2xl md:text-4xl text-button-color ml-10 md:ml-32 pt-10"><%= t '.title' %></h1>
        <p class="mx-auto ml-10 md:ml-32 text-base md:text-1xl mt-6">ご登録のメールアドレスにパスワード再設定リンクを送ります</p>
        <div class="flex justify-center form-gorup py-5">
            <%= form_with url: password_resets_path, local: true do |f| %>
                <div class="form-group py-5">
                    <%= f.label :email, User.human_attribute_name(:email), class: "text-font-color text-1xl md:text-3xl" %>
                    <%= f.email_field :email, class: "form-control mb-3 mb-3 py-3 px-10 mt-3 text-base md:text-2xl rounded-full" %>
                </div>
                <div class="text-center">
                    <%= f.submit (t'defaults.send'), class: 'btn btn-primary bg-button-color hover:bg-hover-color text-button-font border-none rounded-full py-5 px-10' %>
                </div>
            <% end %>
        </div>
        <div class='text-center'>
            <%= link_to (t'defaults.to_login_page'), login_path, class: "text-base md:text-2xl" %>
        </div>
    </div>
</div>