<div class="container">
    <div class="clearfix">
        <div class="pt-10 text-question-title w-1/3 rounded-sm mx-auto">
            <h1 class="text-1xl md:text-3xl py-5 bg-button-color text-center opacity-80 rounded-full"><%= t '.title' %></h1>
        </div>
        <div class="flex justify-center mt-5">
            <%= form_with model: @user, local: true do |f| %>
                <div class="text-text-color text-2xl">
                    <div class = 'form-group py-2'>
                        <%= f.label :name, class: "text-font-color text-base md:text-3xl" %>
                        <%= f.text_field :name,  class: "form-control mb-3 py-2 px-10 mt-3 rounded-full text-base md:text-2xl dark:bg-white" %>
                    </div>
                    <div class = 'form-group py-2'>
                        <%= f.label :email, class: "text-font-color text-base md:text-3xl" %>
                        <%= f.email_field :email,  class: "form-control mb-3 py-2 px-10 mt-3 rounded-full  text-base md:text-2xl dark:bg-white" %>
                    </div>
                    <div class = 'form-group py-2'>
                        <%= f.label :password, class: "text-font-color text-base md:text-3xl" %>
                        <%= f.password_field :password,  class: "form-control mb-2 py-3 px-10 mt-3 rounded-full  text-base md:text-2xl dark:bg-white" %>
                    </div>
                    <div class = 'form-group py-2'>
                        <%= f.label :password_confirmation, class: "text-font-color text-base md:text-3xl" %>
                        <%= f.password_field :password_confirmation,  class: "form-control mb-3 py-2 px-10 mt-3 rounded-full  text-base md:text-2xl dark:bg-white" %>
                    </div>
                    <div class="form-group py-5 text-center">
                        <%= f.submit (t'defaults.register'), class: 'btn btn-primary bg-button-color hover:bg-hover-color text-button-font border-none rounded-full py-5 px-10' %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class='text-center mt-10'>
        <%= link_to (t'defaults.to_login_page'), login_path, class: "text-base md:text-2xl hover:underline" %>
    </div>
</div>