
<div>
    <div class="bg-white py-5 pl-10 mt-10 w-3/5 opacity-80 mx-auto">
        <%= form_with(url: "/questions/nutrition_answer", method: "post", local: true) do |form| %>
            <%= form.hidden_field :id, value: @question.id %>
            <div class="pb-5 font-light">
                <%= @question.content %>
            </div>
            <% @choices.each do |choice| %>
                <label>
                    <%= form.radio_button :selected_choice_id, choice.id %>
                    <%= choice.choice %>
                </label><br>
            <% end %>
            <div class="mt-5 text-center">
                <%= submit_tag '回答', class: 'btn btn-danger mx-1 bg-button-color hover:bg-hover-color' %>
            </div>
        <% end %>
    </div>
</div>