<header>
    <div class="container flex mx-auto mt-26 text-center bg-header-color opacity-80 text-white h-28 py-10">
        <div class="mx-6">
            <%= link_to "Mypage", "#", class: 'dropdown-item' %>
        </div>
        <div class="mx-6">
            <%= link_to "Test", "#", class: 'dropdown-item' %>
        </div>
        <div class="mx-6">
            <%= link_to "Search", "#", class: 'dropdown-item' %>
        </div>
        <div class="mx-6">
            <%= link_to "Setting", "#", class: 'dropdown-item' %>
        </div>
        <div class="mx-6">
            <%= link_to "Rank", "#", class: 'dropdown-item' %>
        </div>
        <div class="mx-6">
            <%= button_to "Logout", logout_path, method: :delete %>
        </div>
    </div>
</header>