<div class="container">
    <h1 class="text-3xl pt-10 ml-10"><%= t '.title' %></h1>
    <div class="ml-10 mt-5 bg-button-color w-36 text-center">
        <%= link_to t('.questions'), admin_questions_path %>
    </div>
    <div class="flex justify-center">
        <%= form_with model: @question, url: admin_questions_path, local: true do |f| %>
            <div class = 'form-group py-2'>
                <%= f.label :content, class: "text-font-color text-3xl" %>
                <%= f.text_area :content,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
            </div>
            <div class = 'form-group py-2'>
                <%= f.label :reason, class: "text-font-color text-3xl" %>
                <%= f.text_area :reason,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
            </div>
            <div class = 'form-group py-2'>
                <%= f.label :hint, class: "text-font-color text-3xl" %>
                <%= f.text_area :hint,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
            </div>
            <div class = 'form-group py-2'>
                <%= f.label :type, class: "text-font-color text-3xl" %>
                <%= f.select :type, options_for_select([["Nutrition", "Nutrition"], ["Compound", "Compound"]]) %>

            </div>

            <div class="grid grid-cols-1 divide-y divide-black-200 divide-y-4">
                <%= f.fields_for :choices do |choices_form| %>
                    <div>
                        <%= choices_form.label :choice1, class: "text-font-color text-3xl" %>
                        <%= choices_form.text_field :choice1,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
                        <div class='form-group py-2'>
                            <%= choices_form.label :correct1, class: "text-font-color text-3xl" %>
                            <%= choices_form.check_box :correct1, { checked: @question.correct }, true, false %>
                        </div>
                    </div>
                <% end %>
                <%= f.fields_for :choices do |choices_form| %>
                    <div>
                        <%= choices_form.label :choice2, class: "text-font-color text-3xl" %>
                        <%= choices_form.text_field :choice2,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
                        <div class='form-group py-2'>
                            <%= choices_form.label :correct2, class: "text-font-color text-3xl" %>
                            <%= choices_form.check_box :correct2, { checked: @question.correct }, true, false %>
                        </div>
                    </div>
                <% end %>
                <%= f.fields_for :choices do |choices_form| %>
                    <div>
                        <%= choices_form.label :choice3, class: "text-font-color text-3xl" %>
                        <%= choices_form.text_field :choice3,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
                        <div class='form-group py-2'>
                            <%= choices_form.label :correct3, class: "text-font-color text-3xl" %>
                            <%= choices_form.check_box :correct3, { checked: @question.correct }, true, false %>
                        </div>
                    </div>
                <% end %>
                <%= f.fields_for :choices do |choices_form| %>
                    <div>
                        <%= choices_form.label :choice4, class: "text-font-color text-3xl" %>
                        <%= choices_form.text_field :choice4,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
                        <div class='form-group py-2'>
                            <%= choices_form.label :correct4, class: "text-font-color text-3xl" %>
                            <%= choices_form.check_box :correct4, { checked: @question.correct }, true, false %>
                        </div>
                    </div>
                <% end %>

            </div>

            <div class="form-group py-5 text-center">
                <%= f.submit (t'defaults.register'), class: 'btn btn-primary bg-button-color hover:bg-hover-color border-none' %>
            </div>
        <% end %>
    </div>
</div>