<!DOCTYPE html>
<html class="dark">
  <head>
    <title>FoodFit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="app-wrapper">
    <%= render 'shared/flash_message' %>

    <% if logged_in? %>
      <%= render  "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>  
    <div class="flex-1">
      <%= yield %>
    </div>
    
    <%= render 'shared/footer' %>
  </body>

</html>
