<!DOCTYPE html>
<html>
  <head>
    <title>FoodFit</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "nutrition", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "nutrition", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="nutrition-wrapper">
    <%= render 'shared/flash_message' %>
    <%= render  "shared/header" %>
    <%= yield %>
    <div class="push"></div>
    <%= render 'shared/footer' %>
  </body>
</html>
